@charset "UTF-8";
/**
 * @site            Video Games Records
 * @author          Luc Poupard
 * @note            Base layout
 */

/* ----------------------------- */
/* Summary */
/* ----------------------------- */
/*
    == Global
        -- Responsive layout
    == Top bar
        -- Skip links
        -- Lang switcher
        -- Account
    == Header
    == Content
        -- Stats
        -- Breadcrumb
        -- Main content
        -- Aside
    == Sidebar
    == Footer
*/


svg[aria-hidden="true"]:not(.svg-sprite) {
    display: none;
}

.svg-sprite {
    use {
        fill: currentColor;
    }

    &__prev {
        transform: rotate(90deg);
    }

    &__next {
        transform: rotate(-90deg);
    }
}

/* -- @subsection Breadcrumb ---------- */
.site-breadcrumb {
    padding: .5em $page-padding-small;
    background-color: rgb(var(--v-theme-breadcrumb));

    ol {
        @extend %inline-list;
    }

    li {
        @extend %inline-list-item;

        &:not(:first-child) {
            margin-left: .5em;

            &:before {
                content: "/";
                margin-right: .5em;
            }
        }
    }

    p {
        margin: 0;
    }
}

@mixin site-breadcrumb-medium {
    .site-breadcrumb {
        padding-right: $page-padding-large;
        padding-left: $page-padding-large;
    }
}


@mixin site-header-bg-medium {
    .v-main {
        z-index: 0;
        margin-top: 60px;
    }
    .v-main  {
        position: relative;
        &::after {
            position: absolute;
            top: -40px;
            right: -150px;
            content: "";
            display: block;
            width: 722px;
            height: 431px;
            background: url("../img/background/header-banner.png");
            background-size: 100%;
            z-index: -1;
        }
    }
}
